<!DOCTYPE html>
<html>
<head>
    <title>Random Quote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="container mt-5">
    <h1 class="text-center">Random Quote</h1>
    <div class="card mt-3">
        <div class="card-body">
            <blockquote class="blockquote">
                <p class="mb-0">"{{ quote }}"</p>
                <footer class="blockquote-footer">- {{ author }}</footer>
            </blockquote>
        </div>
    </div>
</body>
</html>